

/*==========  Desktop First  ==========*/

// ≥1200px

// ≥992px

// ≥768px
@media only screen and (max-width: 769px)
	.products
		padding: 55px 0
		justify-content: center
	.header
		flex-direction: column-reverse
		justify-content: flex-end
		align-items: center
		&__nav
			margin-left: 0
		&__search
			margin-left: 0
			margin-right: 0
			padding-right: 0
			width: 90vw
			height: 50px
			background-size: 768px
			background-position: -35px -115px
			margin-bottom: 15px
			&:hover
				background-position: -35px -8px

// >640
@media only screen and (max-width: 644px)
	.header 
		padding: 0
		margin: 0
		height: 261px
		&__search
			box-sizing: border-box
			margin: 0			
			background-color: #fff
			margin-top: 40px
			margin-left: 15px
			border: 2px solid #dadcdd
			border-radius: 7px
			height: 78px
			width: 80vw
			font-size: 35px
			padding: 15px 65px
			background-size: 900px
			background-position: -20px -119px
			&:hover
				background-position: -20px 5px
			&:focus
				background-position: -20px 5px

		&__nav
			margin: 0
			margin-top: 70px
			font-size: 35px
			width: 90vw
			ul				
				overflow: hidden
				overflow-x: auto
				overflow-style: none
				&::-webkit-scrollbar 
					width: 0
	.products
		&__item
			width: 600px
			height: 435px
			img
				max-height: 250px
				max-width: 350px
		&__desc
			font-size: 35px
			height: 130px
			padding: 40px 0
// ≥321px
	
@media only screen and (max-width: 321px)
	.header
		align-items: flex-start
		&__nav
			ul
				padding-left: 0
		&__search
			align-self: center
			margin-left: 0
			width: 99vw
			align-content: 
	.products
		&__item
			width: 90vw
			margin: 15px 0 
			justify-content: space-between
			img
				width: 90%
				height: auto
				margin-top: 50%
				transform: translateY(-30%)
		&__desc
			font-size: 20px
			text-align: center
			padding: 5px
			white-space: normal
			align-self: 


/*==========  Mobile First  ==========*/

// ≤576px

// ≤768px

// ≤992px

// ≤1200px
